/*
 * app.css
 */

.angular-leaflet-map {
    height: 100%;
}

main {
    height: 88%;
    height: calc(100% - 72px);
}

md-toolbar {
    color: #ffffff !important;
}

/*
 * Scrollbars
 */
::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

/*
 * Stylsheets der Hauptnavigation
 */
.studysearch-main-navigation,
.studysearch-main-navigation.md-locked-open,
.studysearch-main-navigation.md-closed.md-locked-open-add-active {
    min-width: 0 !important;
    width: auto !important;
    max-width: 150px !important;
}

.toolbar-header .logo{
    font-family: "Montserrat", "Arial Narrow Bold", sans-serif;
}

.toolbar-header .logo img{
    vertical-align: middle;
    max-height: 40px
}


/* Cover with Image */

.cover-page {
    position: relative;
    width: 100%;
    min-height: 700px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1420768255295-e871cbf6eb81);
    background-size: cover;
}

.cover-page .text{
    padding: 20px;
    background: rgba(0,0,0,0.6)
}

/* Pillars & Jobprofiles */

.pillars, .jobProfiles{
    padding: 40px;
}

.pillars md-checkbox{
    position: absolute;
    top: 10px;
    right: 5px;
}

.jobProfiles md-checkbox{
    margin: auto;
}

.jobProfiles md-checkbox .md-icon,
.pillars md-checkbox .md-icon {

}

/* Reset disable checkbox style to normal */
.jobProfiles md-checkbox.md-default-theme[disabled] .md-icon, md-checkbox[disabled] .md-icon,
.pillars md-checkbox.md-default-theme[disabled] .md-icon, md-checkbox[disabled] .md-icon{
    border-color: rgba(0,0,0,0.54);
}

.jobProfiles md-checkbox.md-checked .md-icon,
.pillars md-checkbox.md-checked .md-icon{

}

.jobProfiles md-button,
.pillars md-button {
    position: relative;
}

.jobProfiles md-button,
.jobProfiles md-card {
    background-color: teal;
    color: #ffffff;
}

.jobProfiles md-card:hover{
    opacity: 1;
}

.jobProfiles button {
    padding: 0;
    background: #546E7A;
    color: #ffffff;
}

.jobProfiles button:not([disabled]):hover {
    padding: 0;
    background: teal;
    color: #000000;
}

.pillars md-button:hover {
    opacity: 1;
}

/*
 * Stylesheets der Universitätsinfo sidenav
 */
.university-info-sidenav md-toolbar{
    color: white;
}

.university-info-sidenav .degree-program-name,
.university-info-sidenav .keyvalue-list {
    min-height: 60px;
}

.university-info-sidenav .degree-program-diagram {
    min-height: 300px;
}

.university-info-sidenav .keyvalue-list md-icon{
    font-size: 32px;
    padding-bottom: 10px;
}

.university-info-sidenav .keyvalue-list .md-grid-text {
    font-size: 14px;
}

/*
 * Stylesheet der Universitätslisten sidenav
 */
.university-list-sidenav .filter-options{
    min-height: 280px;
}

.university-list-sidenav .job-filters md-checkbox .md-container,
.university-list-sidenav .job-filters md-checkbox.md-checked .md-icon{
    background-color: rgba(0, 128, 0, 0.5);
    color: #ffffff;
}

.university-list-sidenav .pillar-filters .pillar-bam md-checkbox .md-container,
.university-list-sidenav .pillar-filters .pillar-bam md-checkbox.md-checked .md-icon{
    background-color: rgba(253, 180, 92, 0.5);
}
.university-list-sidenav .pillar-filters .pillar-bis md-checkbox .md-container,
.university-list-sidenav .pillar-filters .pillar-bis md-checkbox.md-checked .md-icon{
    background-color: rgba(247, 70, 74, 0.5);
}
.university-list-sidenav .pillar-filters .pillar-csc md-checkbox .md-container,
.university-list-sidenav .pillar-filters .pillar-csc md-checkbox.md-checked .md-icon{
    background-color: rgba(151, 187, 205, 0.5);
}

/*
 * Stylesheets für die Universitätsliste
 */
#universityListToggler{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 20;
}

/*
 * Stylesheets der Startseite
 */
.pillars .pillar-bam {
    background-color: #FDB45C;
}

.pillars .pillar-csc {
    background-color: #97BBCD;
}

.pillars .pillar-bis{
    background-color: #F7464A;
}

/*
 * Stylesheets für den Footer
 */
footer{
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    color: #000000;
    background: white;
}

.withlove {
    color: #606060;
    font-size: 12px;
    display: block;
    /*
    position: absolute;
    bottom: 10px;

    position: absolute;
    width: 90%;
    left: 50%;
    top: 45%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    */
    text-align: center;
}

.withlove a {
    color: #000000;
    text-decoration: none;
}

.withlove .love {
    color: #E90606;
    margin: 0 3px;
    font-size: 12px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
}