<university-infobox></university-infobox>

<leaflet flex id="universityMap" defaults="defaults" layers="layers" event-broadcast="events"  lf-center="center" markers="markers" maxbounds="maxbounds">
    <div id="universityListToggler">
        <md-button class="md-icon-button md-accent" ng-click="toggleUniversityListSidenav()">
            <md-icon ng-if="universityListSidenavLock" md-font-library="material-icons" aria-label="Einklappen">chevron_right</md-icon>
            <md-icon ng-if="!universityListSidenavLock" md-font-library="material-icons" aria-label="Ausklappen">chevron_left</md-icon>
        </md-button>
    </div>
</leaflet>


<md-sidenav class="university-list-sidenav" md-is-locked-open="universityListSidenavLock" flex layout="column">
    <md-toolbar layout-padding class="md-hue-1">
        <div class="md-toolbar-tools">
            <h2>Hochschulliste</h2>
        </div>
    </md-toolbar>
    <md-content class="filter-options" layout-padding>
        <h3>Filter</h3>
        <form name="universityFilterForm" layout="row">
            <div flex layout="column" layout-align="center">
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.ADM">ADM</md-checkbox></span>
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.CON">CON</md-checkbox></span>
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.INF">INF</md-checkbox></span>
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.ITM">ITM</md-checkbox></span>
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.SWE">SWE</md-checkbox></span>
            </div>
            <div flex layout="column" layout-align="center">
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.pillars.BAM">BWL</md-checkbox></span>
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.pillars.CSC">Informatik</md-checkbox></span>
                <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.pillars.BIS">Wirsch.-Inf.</md-checkbox></span>
            </div>
        </form>
    </md-content>
    <md-content class="university-list" layout-padding>
        <h3>Hochschulen</h3>
        <md-list>
            <md-list-item ng-repeat="university in universities">
                <md-button ng-click="openUniversityByURI(university.universityURI)">{{university.universityLabel}}</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-list-item ng-show="!universities.length">Keine Einträge</md-list-item>
        </md-list>
    </md-content>
</md-sidenav>