<university-infobox></university-infobox>

<leaflet flex id="universityMap" defaults="defaults" layers="layers" event-broadcast="events"  lf-center="center" markers="markers" maxbounds="maxbounds">
    <div id="universityListToggler">
        <md-button class="md-icon-button md-accent" ng-click="toggleUniversityListSidenav()" aria-label="Ein-/Ausklappen">
            <md-icon ng-if="universityListSidenavLock" md-font-library="material-icons" aria-label="Einklappen">chevron_right</md-icon>
            <md-icon ng-if="!universityListSidenavLock" md-font-library="material-icons" aria-label="Ausklappen">chevron_left</md-icon>
        </md-button>
    </div>
</leaflet>


<md-sidenav class="university-list-sidenav" md-is-locked-open="universityListSidenavLock" flex layout="column">
    <md-toolbar layout-padding class="md-hue-1">
        <div class="md-toolbar-tools">
            <h2>Liste der Hochschulen</h2>
        </div>
    </md-toolbar>
    <md-tabs flex>
        <md-tab label="Hochschulen ({{universities.length}})">
            <md-content class="university-list" layout-padding>
                <md-list>
                    <md-list-item ng-repeat="university in universities">
                        <md-button ng-click="openUniversityByURI(university.universityURI)">{{university.universityLabel}}</md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                    <md-list-item ng-show="!universities.length">Keine Einträge</md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Filtern nach">
            <md-content class="filter-options" layout-padding>
                <form name="universityFilterForm">
                    <div class="job-filters" flex layout="column" layout-align="center">
                        <h4>Job Profile</h4>
                        <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.ADM">Administration</md-checkbox></span>
                        <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.CON">Consulting</md-checkbox></span>
                        <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.INF">Informatik</md-checkbox></span>
                        <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.ITM">IT-Management</md-checkbox></span>
                        <span><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.jobs.SWE">Softwareentwicklung</md-checkbox></span>
                    </div>
                    <div class="pillar-filters" flex layout="column" layout-align="center">
                        <h4>Säulen</h4>
                        <span class="pillar-bam"><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.pillars.BAM">Betriebswirtschaftslehre</md-checkbox></span>
                        <span class="pillar-csc"><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.pillars.CSC">Informatik</md-checkbox></span>
                        <span class="pillar-bis"><md-checkbox ng-change="queryUniversity()" ng-model="$parent.filter.pillars.BIS">Wirtschaftsinformatik</md-checkbox></span>
                    </div>
                </form>
            </md-content>
        </md-tab>
    </md-tabs>
</md-sidenav>